
<div class="lips-single-cart">
    <div class="lips-card-inner">
      {% if product.images.size > 1 %}
          <img class="hover_thumb1" src="{{ product.images[0] | img_url: 'master' }}" alt="{{ product.title }}">
          <img class="hover_thumb2" src="{{ product.images[1] | img_url: 'master' }}" alt="{{ product.title }}">
      {% else %}
          <img class="hover_thumb1" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
      {% endif %}
      
    
      {% if product.variants.size > 1 %}
        <div class="lips-badge">
            <span><i></i>{{ product.variants.size }} {{ section.settings.variant_tag }}</span>
        </div>
      {% endif %}
      
  </div>
  <div class="lips-card-content">
    <a href="{{ product.url }}">{{ product.title }}</a>
    <span>
        {{ product.price | money}} 
        {% if product.compare_at_price > product.price %}
            <del>{{ product.compare_at_price | money }}</del>
            <cite>{{ section.settings.save_tag }} {{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price }}%</cite>
        {% endif %}
    </span>
  </div>

  <div class="card-add-button">
    <form method="post" action="/cart/add">
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <button type="submit">{{ section.settings.add_btn_text }}</button>
    </form>
  </div>
</div> 