<style>
    * {
      box-sizing: border-box;
      font-family: "Roboto"
      , sans-serif;
    }



  @media screen and (min-width: 1000px) {
    .mobile--menu-container{

     display:none;
    }


  }
    .menu-btn {
      font-size: 24px;
      cursor: pointer;
      padding: 10px;
    }

    /* mobile menu css  */

    .mobile--menu-container {
      background-color: #fff;
      bottom: 0;
      display: flex;
      flex-direction: column;
      left: 0;
      overflow: hidden;
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      transform: translate(-100%);
      transition:  0.5s;
      z-index: 100;
      opacity: 0;
    }

    .menu--open {
      pointer-events: all;
      transform: translate(0);
      opacity: 1;


    }

    .mobile--menu-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 16px 14px 16px 16px;
    }
    .mobile--menu-logo {
      text-decoration: none;
      color: inherit;
    }
    .mobile--menu-close {
      background: transparent;
      border: 0;
      cursor: pointer;
    }
    .menu--Icon.menu--Icon--close {
      fill: currentColor;
      stroke-width: 1px;
      background: none;
      display: inline-block;
      height: 1em;
      pointer-events: none;
      vertical-align: middle;
      width: 1em;
    }
    ul.mobile--menu-navigation {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .mobile--menu-navigation-item {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      padding: 14px 0;
      position: relative;
    }
    svg.Icon.Icon--next {
      margin-left: auto;
    }
    .mobile--menu-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      padding: 0 16px 50px;
      overflow: auto;
    }
    .mobile--menu-navigation-item:after {
      background-color: #ededed;
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      width: 100%;
    }
    button.mobile--menu-back {
      display: flex;
      align-items: center;
      gap: 5px;
      background: transparent;
      border: 0;
    }
    .mobile--menu-item-title {
      font-size: 18px;
      line-height: 19px;
      margin: 0;
      font-size: 16px;
    }

    span.mobile--menu-item-sub-title {
      color: #454545;
      line-height: 17px;
      padding: 8px;
      text-align: left;
    }
    span.mobile--menu-item-title {
      color: #454545;
      font-size: 16px;
      line-height: 17px;
      padding: 8px;
      text-align: left;
    }

    /* submenu css csss */


    /* submenu css csss */
    /* submenu css csss */
    /* submenu css csss */

    /* submenu css csss */.mobile--menu-sub-container {
      background-color: #fff;
      bottom: 0;
      display: flex;
      flex-direction: column;
      left: 0;
      overflow: hidden;
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      transform: translate(100%);
      transition: transform 0.5s;
      z-index: 100;
    }


    .mobile--menu-sub-container.active {
      pointer-events: all;
      transform: translate(0);
    }
    ul.mobile--menu-sub-navigation {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .mobile--menu-navigation-sub-item {

      /* padding: 14px 0; */
      position: relative;
    }
    .mobile--menu-navigation-sub-item-wrapper {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
    .mobile--menu-sub-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      padding: 0 16px 50px;
      overflow: auto;
    }

    svg.Icon.Icon--next-down {
      margin-left: auto;
      transform: rotate(90deg);
      margin-right: 10px;
      transition: 0.3s;
    }
    li.mobile--menu-navigation-sub-item.open svg.Icon.Icon--next-down {
      transform: rotate(-90deg);
    }
    img.mobile--menu-navigation-item-image {
      width: 40px;
      height: 40px;
      display: block;
      margin-right: 10px;
    }
    .mobile--menu-navigation-sub-item-wrapper {
      position: relative;
      padding: 14px 0;
    }
    .mobile--menu-navigation-sub-item-wrapper::after {
      background-color: #ededed;
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      width: 100%;
    }
    .mobile--menu-sub-container .mobile--menu-header {
      box-shadow: 0 2px 3px #0000000f;
      /* padding: 12px 4px; */
    }

    .mobile--menu-content-inner {
      padding: 0 16px 50px;
    }
    /* sub dropdown  */

    ul.mobile--menu-sub-dropdown {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    ul.mobile--menu-sub-dropdown a {
      align-items: center;
      display: flex;
      text-decoration: none;
      color: inherit;
      position: relative;
      padding: 14px 0;
    }
    ul.mobile--menu-sub-dropdown a::after {
      background-color: #ededed;
      bottom: 0;
      content: "";
      height: 1px;
      position: absolute;
      width: 100%;
    }
    .mobile--menu-navigation-sub-item .mobile--menu-sub-dropdown {
      /* display: none; */
      padding-left: 35px;
      /* animation: slideDown 0.3s ease forwards; */

      max-height: 0;
      overflow: hidden;
      transition: 0.4s all;

    }

    .mobile--menu-navigation-sub-item.open .mobile--menu-sub-dropdown {

    }

    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-5px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }


    /* secondery menu */

    ul.mobile--menu-navigation-sec {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    ul.mobile--menu-navigation-sec a {
      font-size: 12px;
      line-height: 13px;
      margin: 8px 0;
      padding: 8px;
      color: #454545;
      text-decoration: none;
    }

    /* fo0ter social  */


    .mobile--menu-footer-social {
      align-items: center;
      background-color: #f9f9f9;
      display: flex;
      padding: 16px 0;
      position: relative;
      width: 100%;
    }
    .mobile--menu-footer-social img {
      width: 25px;
      height: 25px;
    }

    .mobile--menu-footer-social ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      list-style: none;
      margin-inline: auto;
    }
    .mobile--menu-footer-social a {
      width: 55px;
      display: block;
      text-align: center;
    }


    /* lang switcher  */

    .language--switcher img {
      border-radius: 4px;
      height: 20px;
      margin-right: 8px;
      word-spacing: -2px;
    }

    .language--switcher {
      grid-gap: 10px;
      align-items: center;
      border-bottom: 1px solid #d9d9d9;
      border-top: 1px solid #d9d9d9;
      display: flex;
      gap: 10px;
      /* justify-content: space-between; */
      padding: 15px;
    }

    .language--switcher svg {
      margin-left: auto;
    }


    /* lang popup  */

    .language--popup img {
      border-radius: 4px;
      height: 20px;
      margin-right: 8px;
      word-spacing: -2px;
    }
    .language--popup {
      align-items: start;
      -webkit-animation: fadeIn 0.3s ease-out;
      animation: fadeIn 0.3s ease-out;
      background: #0000004d;
      display: flex;
      height: 100vh;
      justify-content: center;
      overflow-y: auto;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 101;
    }
    .language--popup-innner {
      margin-bottom: 20px;
      margin-top: 20px;
      top: 0;
      width: 90%;
      background-color: #fff;
      box-shadow: 0 3px 15px 6px #00000026;
      display: flex;
      flex-direction: column;
      padding: 30px 20px 59px;
      position: relative;
      text-align: center;
      border-radius: 12px;
      box-shadow: 0 3px 15px 6px #00000026;
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: center;
    }
    .language--popup-close svg.Icon.Icon--close {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    h3.language--popup-ttle {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 18px;
    }

    p.language--popup-text {
      color: #767676;
      font-size: 13px;
      font-weight: 400;
      max-width: 80%;
      text-align: center;
      margin: auto;
    }
    ul.language--popup-slector {
      display: flex;
      list-style: none;
      justify-content: center;
      padding: 0;
      margin: 26px 0 0;
      flex-wrap: wrap;
      gap: 40px;
    }
    ul.language--popup-slector img {
      width: 48px;
      height: 48px;
      display: block;
      margin: auto auto 10px;
    }
    ul.language--popup-slector li {
      font-size: 14px;
    }
    .mobile--menu-logo img {
      width: 100px;
    }


    /* menu search  */

    .menu-search {
        position: relative;
        border-radius: 5px;
        height: 30px;
        margin: 0 15px 13px;
        padding: 0;
        border: 1px solid #ededed;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    input.mobile-menu-search {
        width: 100%;
        border: 0;
        outline: 0;
        color: #1c1c1c;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        padding: 0;
        background: transparent;
    }
    .mobile--menu-search-icon {
        margin: 0;
        padding: 0 8px;
    }

    .m-search-popup{
      overflow: auto;
    }

    .search--recomend-product-area{
      padding: 0 20px;
    }




    .search--recomend-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    @media (min-width: 768px){
      .search--recomend-product {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .product--recom-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 10px;
    }
    .product--recom-header h3 {
        color: #000;
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        text-transform: uppercase;
    }
    .product--recom-header a {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        text-decoration: underline;
    }
    .tag--column-tags a {
        background-color: #eee;
        border-radius: 5px;
        color: #171717;
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 0;
        margin-right: 10px;
        max-width: -webkit-min-content;
        max-width: -moz-min-content;
        max-width: min-content;
        padding: 5px 10px;
        white-space: nowrap;
    }
    h3.tag--column-title {
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        margin: 0 0 15px 0;
        text-transform: uppercase;
    }
    .tag--column-wrapper {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .tag--column-tags {
        display: flex;
        overflow-x: auto;
    }
    .tag--columns-area {
        padding: 0 20px;
    }
    .mobile--menu-item-badge {
      position: absolute;
      top: 10px;
      left: 76px;
      background: #ff0000;
      color: #fff;
      border-radius: 30px;
      padding: 2px 10px;
      font-size: 8px;
    }


      {% comment %} submenu  {% endcomment %}
      /* ========== MAIN NAV LIST ========== */
    .akta-mobile-nav {
      width: 100%;
      padding: 0;
    }

    .akta-nav-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .akta-nav-item {
      {% comment %} border-bottom: 1px solid #e5e5e5; {% endcomment %}
      padding: 5px 0;
    }

    /* Main link */
    .akta-nav-link {
      display: block;
      font-size: 12px;
      color: #8d8d8d;
      text-decoration: none;
      padding: 6px 0;
    }

    /* Hover */
    .akta-nav-link:hover {
      opacity: 0.6;
    }

    /* ========== SUBMENU ========== */
    .akta-submenu {
      margin-top: 6px;
    }

    .akta-submenu-title {
      cursor: pointer;
      font-size: 15px;
      color: #333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0;
    }

    /* Remove default triangle */
    .akta-submenu-title::-webkit-details-marker {
      display: none;
    }

    /* Submenu list */
    .akta-submenu-list {
      list-style: none;
      margin: 0;
      padding: 8px 0 0 16px; /* indent inside submenu */
    }

    .akta-submenu-item {
      padding: 6px 0;
    }

    .akta-submenu-link {
      font-size: 14px;
      color: #444;
      text-decoration: none;
      display: block;
    }

    .akta-submenu-link:hover {
      opacity: 0.7;
    }

    /* ========== OPTIONAL: ARROW ROTATION ========== */
    .akta-submenu[open] .akta-submenu-title {
      font-weight: 600;
    }

    .akta-submenu[open] .akta-submenu-title::after {
      content: "▴"; /* arrow up */
    }

    .akta-submenu:not([open]) .akta-submenu-title::after {
      content: "▾"; /* arrow down */
    }




    @media (min-width: 768px){
      .search--wrapper-area {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
      }
      .tag--column-tags {
        flex-direction: column;
        row-gap: 15px;
      }
      .tag--column-tags a {
        background-color: transparent;
        color: inherit;
        text-decoration: none;
        padding: 0;
        font-size: 16px;
        margin: 0;
        /* white-space: inherit; */
      }
      .tag--columns-area {
        flex-basis: 290px;
        max-width: 290px;
        border-right: 1px solid rgba(0, 0, 0, .1);
      }
      h3.tag--column-title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .tag--column-tags a {
        max-width: fit-content;
        white-space: inherit;
        color: #767676;
        line-height: 1.5;
      }
    }
</style>
<script id="mobile-menu-data" type="application/json">
  [
    {
      "title": "SALE",
      "url": "/collections/sortimentswechsel"
    },
    {
      "title": "Bestseller",
      "url": "/collections/bestseller-menu"
    },
    {
      "title": "Messersets",
      "children": [
        {
          "title": "Meistgekauft",
          "url": "/collections/messersets-im-sale",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V6_1.jpg?v=1772100109"
        },
        {
          "title": "Premium Sets",
          "url": "/collections/asiatisches-messerset-1",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/8-teilige_Messersets.jpg?v=1765133359"
        },
        {
          "title": "Luxus Damast Sets",
          "url": "/collections/damastmesser-set",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/4-teilige_Mesersets.jpg?v=1765133447"
        },
        {
          "title": "Alle Messersets",
          "url": "/collections/messerset",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V1_1.jpg?v=1772100109"
        }
      ]
    },
    {
      "title": "Komplett-Sets",
      "children": [
        {
          "title": "Meistgekauft",
          "url": "/collections/kombipakete-im-sale",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V6_1.jpg?v=1772100109"
        },
        {
          "title": "Messer + Holzblöcke",
          "url": "/collections/messer-holzblock",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V3_1.jpg?v=1772100109"
        },
        {
          "title": "Messer + Magnetleisten",
          "url": "/collections/messerset-mit-magnetleiste",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/3_7e9096fe-3d9d-4dab-a595-32c905340c75.jpg?v=1772101020"
        },
        {
          "title": "Messer + Edelstahlblöcke",
          "url": "/collections/metall-bundles",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/4_41f08e7c-3561-4a9a-8df1-c2e42996c25c.jpg?v=1772101020"
        },
        {
          "title": "Exklusive Komplett-Sets",
          "url": "/collections/exklusive-komplett-sets",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/5_640143ba-6608-499a-a3ed-fd74c515c7fd.jpg?v=1772101023"
        }
      ]
    },
    {
      "title": "Einzelmesser",
      "children": [
        {
          "title": "Chefmesser & Gyutomesser",
          "url": "/collections/chefmesser-gyutomesser",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/6_7a3b7d10-ae39-4eb1-9151-1b0b9ef4892a.jpg?v=1772100943"
        },
        {
          "title": "Santoku",
          "url": "/collections/santokumesser",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Santokumesser.jpg?v=1765134576"
        },
        {
          "title": "Brotmesser",
          "url": "/collections/brotmesser",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V5_1.jpg?v=1772100109"
        },
        {
          "title": "Filetiermesser",
          "url": "/collections/filetiermesser",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Filetiermesser_3ecd83d2-ce1f-4a55-8cbd-6906d0a3b739.jpg?v=1765134625"
        },
        {
          "title": "Petty Messer",
          "url": "/collections/office-messer",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/WhatsApp_Image_2026-03-12_at_8.07.17_PM.jpg?v=1773324864"
        },
        {
          "title": "Nakiri Messer",
          "url": "/collections/nakiri-messer",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/WhatsApp_Image_2026-03-12_at_8.07.27_PM.jpg?v=1773324950"
        },
        {
          "title": "Taschenmesser",
          "url": "/collections/taschenmesser",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/7_49d10c27-f8a2-4a4b-880c-bc7f03782872.jpg?v=1772100942"
        },
        {
          "title": "Damastmesser",
          "url": "/collections/damastmesser-1",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/8_8d0fb5df-9451-4120-bc0d-60cca7eeb36b.jpg?v=1772100942"
        },
        {
          "title": "Outdoor Messer",
          "url": "/collections/bbq-outdoor",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kein_Titel_100_x_100_px_300_x_300_px_1_1.jpg?v=1772101805"
        },
        {
          "title": "Alle Einzelmesser",
          "url": "/collections/kuechenmesser",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V7_1.jpg?v=1772101422"
        }
      ]
    },
    {
      "title": "Messer-Zubehör",
      "children": [
        {
          "title": "Messerblöcke & Aufbewahrung",
          "url": "/collections/messerblock",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Messerblocke.jpg?v=1765135075"
        },
        {
          "title": "Messerschärfer",
          "url": "/collections/messerschaerfer",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V4_1.jpg?v=1772100109"
        },
        {
          "title": "Schneidebretter",
          "url": "/collections/schneidebretter",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V2_1.jpg?v=1772100109"
        },
        {
          "title": "Pflege & Schutz",
          "url": "/collections/pflege-schutz",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/WhatsApp_Image_2026-03-12_at_8.08.35_PM.jpg?v=1773324760"
        }
      ]
    },
    {
      "title": "Für die Küche",
      "children": [
        {
          "title": "Töpfe & Pfannen",
          "url": "/collections/edelstahlpfanne",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Topfe_PFannen.jpg?v=1765135267"
        },
        {
          "title": "Olivenholz Produkte",
          "url": "/collections/olivenholz-produkte",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/10_d0a5afec-9daa-44f6-b724-b95b9bdc7fae.jpg?v=1772100942"
        },
        {
          "title": "Schäler",
          "url": "/collections/schaler",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Schaler.webp?v=1765135282"
        },
        {
          "title": "Schneidebretter",
          "url": "/collections/schneidebretter",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/Kuechenkompane_Messer_kueche_V252_2_V74_1_V2_1.jpg?v=1772100109"
        },
        {
          "title": "Käse & Outdoorsets",
          "url": "/collections/servieren-aufbewahren",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/11_dd2389f9-37d4-4f30-bbc8-13ba69af757c.jpg?v=1772100942"
        },
        {
          "title": "Gewürzmühlen & Servierschalen",
          "url": "/collections/gewurzmuhlen-servierschalen",
          "image": "https://cdn.shopify.com/s/files/1/0018/5329/2643/files/WhatsApp_Image_2026-03-12_at_8.07.44_PM.jpg?v=1773325105"
        }
      ]
    }
  ]
</script>

<div class="mobile--menu-container">
  <div class="mobile--menu-header">
    <a class="mobile--menu-logo" href="/">
      <img
        loading="lazy"
        src="https://kuechenkompane.de/cdn/shop/files/Kuchenkompane-svg-logo-color_752e6bb5-8fa2-406c-ab1c-530e5b49d7cc.svg?v=1680012730&width=250"
        alt="logo"
      >
    </a>
    <button class="mobile--menu-close" aria-label="Close menu">
      {%- render 'close--icon' -%}
    </button>
  </div>

  <m-search-popup class=" menu-search m:flex m:justify-center m:items-center" data-open-search-popup="">
    <span class="m-header__search-icon mobile--menu-search-icon">
      <svg
        class="Icon Icon--search"
        data-name="Icons black 4"
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.65012 8.46656C6.75798 8.46656 8.46674 6.7578 8.46674 4.64993C8.46674 2.54207 6.75798 0.833313 4.65012 0.833313C2.54226 0.833313 0.833496 2.54207 0.833496 4.64993C0.833496 6.7578 2.54226 8.46656 4.65012 8.46656Z" stroke="#212121" stroke-width="0.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M11.7142 11.7141L7.34839 7.34827" stroke="#212121" stroke-width="0.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </span>
    <input type="search" placeholder="Suchen" class="mobile-menu-search">
  </m-search-popup>

  <div class="mobile--menu-content">
    <ul class="mobile--menu-navigation"></ul>

    {% comment %} submenu  {% endcomment %}
    {% if section.settings.show_submenu %}
      <nav class="akta-mobile-nav">
        <ul class="akta-nav-list">
          {% for link in linklists[section.settings.mobile_sub_menu].links %}
            <li class="akta-nav-item">
              <a class="akta-nav-link" href="{{ link.url }}">{{ link.title }}</a>

              {% if link.links.size > 0 %}
                <details class="akta-submenu">
                  <summary class="akta-submenu-title">{{ link.title }} ▾</summary>
                  <ul class="akta-submenu-list">
                    {% for sublink in link.links %}
                      <li class="akta-submenu-item">
                        <a class="akta-submenu-link" href="{{ sublink.url }}">{{ sublink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </details>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuBtn = document.querySelector('.m-menu-button');
    const menuContainer = document.querySelector('.mobile--menu-container');
    const menuCloseBtns = document.querySelectorAll('.mobile--menu-close');
    const subItems = document.querySelectorAll('.mobile--menu-navigation-item');

    // Open main menu
    menuBtn.addEventListener('click', () => {
      menuContainer.classList.add('menu--open');
    });

    // Close main menu
    menuCloseBtns.forEach((btn) => {
      btn.addEventListener('click', () => {
        menuContainer.classList.remove('menu--open');
        document
          .querySelectorAll('.mobile--menu-navigation-item-content.active')
          .forEach((activeContent) => activeContent.classList.remove('active'));
      });
    });

    // Handle each main menu item's submenu open
    subItems.forEach((subItem) => {
      const subContent = subItem.querySelector('.mobile--menu-navigation-item-content');
      const backBtn = subItem.querySelector('.mobile--menu-back');

      subItem.addEventListener('click', () => {
        // Close all others first
        document
          .querySelectorAll('.mobile--menu-navigation-item-content.active')
          .forEach((el) => el.classList.remove('active'));

        // Open only this item's submenu
        if (subContent) subContent.classList.add('active');
      });

      // Back button only closes its own submenu
      if (backBtn && subContent) {
        backBtn.addEventListener('click', (e) => {
          e.stopPropagation();
          subContent.classList.remove('active');
        });
      }
    });

    // ✅ Toggle nested dropdown under submenu — with auto-open if only one sub-item
    document.querySelectorAll('.mobile--menu-navigation-sub-item').forEach((subItem) => {
      const toggle = subItem.querySelector('.mobile--menu-navigation-sub-item-wrapper');
      const submenu = subItem.querySelector('.mobile--menu-sub-dropdown');

      if (!submenu || !toggle) return;

      const siblingSubItems = subItem.parentElement.querySelectorAll('.mobile--menu-navigation-sub-item');

      // Auto-open if only one sub-item
      if (siblingSubItems.length === 1) {
        submenu.classList.add('open');
        submenu.style.maxHeight = submenu.scrollHeight + 'px';
        subItem.classList.add('open');
      }

      // Toggle on click
      toggle.addEventListener('click', function (e) {
        const isOpen = submenu.classList.contains('open');

        if (isOpen) {
          submenu.style.maxHeight = submenu.scrollHeight + 'px';
          submenu.offsetHeight; // Force repaint
          submenu.style.maxHeight = '0px';
          submenu.classList.remove('open');
          subItem.classList.remove('open');
        } else {
          submenu.classList.add('open');
          submenu.style.maxHeight = submenu.scrollHeight + 'px';
          subItem.classList.add('open');
        }
      });
    });

    // Language switcher
    document.querySelectorAll('.language--switcher').forEach((switcher) => {
      const popup = switcher.nextElementSibling;

      // Toggle popup
      switcher.addEventListener('click', (e) => {
        e.stopPropagation();

        // Close others
        document.querySelectorAll('.language--popup').forEach((p) => {
          if (p !== popup) p.style.display = 'none';
        });

        // Toggle current popup
        popup.style.display = popup.style.display === 'flex' ? 'none' : 'flex';
      });

      // Close button inside popup
      const closeBtn = popup.querySelector('.language--popup-close');
      if (closeBtn) {
        closeBtn.addEventListener('click', (e) => {
          e.stopPropagation();
          popup.style.display = 'none';
        });
      }

      // Language selection
      popup.querySelectorAll('li').forEach((item) => {
        item.addEventListener('click', () => {
          const img = item.querySelector('img')?.src;
          const name = item.getAttribute('data-name');
          const switcherImg = switcher.querySelector('img');
          const switcherText = switcher.querySelector('span');

          if (img && switcherImg) switcherImg.src = img;
          if (name && switcherText) switcherText.textContent = name;

          popup.style.display = 'none';
        });
      });

      // Prevent closing when clicking inside popup-inner
      const inner = popup.querySelector('.language--popup-innner');
      if (inner) {
        inner.addEventListener('click', (e) => e.stopPropagation());
      }
    });

    // Global click — close if clicked outside
    document.addEventListener('click', (e) => {
      document.querySelectorAll('.language--popup').forEach((p) => {
        p.style.display = 'none';
      });
    });
  });
</script>
<script>
  const menuContainer = document.querySelector('.mobile--menu-navigation');
  const menuData = JSON.parse(document.getElementById('mobile-menu-data').textContent);

  // Helper to render grandchild
  const renderGrandChild = (grand) => `
  <li>
    <a href="${grand.url}" class="mobile--menu-navigation-sub-item-wrapper">
      <img src="${grand.image}" alt="${grand.title}" class="mobile--menu-navigation-item-image">
      <span class="mobile--menu-item-sub-title">${grand.title}</span>
    </a>
  </li>
  `;

  // Helper to render child
  const renderChild = (child) => {
    if (child.children && child.children.length) {
      const grandChildrenHTML = child.children.map(renderGrandChild).join('');
      return `
      <li class="mobile--menu-navigation-sub-item">
        <div class="mobile--menu-navigation-sub-item-wrapper js-sub-toggle">
          ${child.url ? `<a href="${child.url}">` : ''}
          <img src="${child.image}" alt="${child.title}" class="mobile--menu-navigation-item-image">
          <span class="mobile--menu-item-sub-title">${child.title}</span>
          ${child.url ? `</a>` : ''}
          
          <svg class="Icon Icon--next-down" width="9" height="16" viewBox="0 0 9 16" fill="none">
            <path d="M7.4 5.87904L2.811 1.29304C2.62059 1.12088 2.37127 1.02853 2.11466 1.03512C1.85805 1.04171 1.61379 1.14673 1.43247 1.32844C1.25115 1.51014 1.14665 1.75462 1.14061 2.01124C1.13456 2.26787 1.22744 2.517 1.4 2.70704L5.986 7.29304C6.17347 7.48057 6.27879 7.73487 6.27879 8.00004C6.27879 8.2652 6.17347 8.51951 5.986 8.70704L1.4 13.293C1.21249 13.4807 1.10721 13.7351 1.1073 14.0004C1.10739 14.2657 1.21286 14.52 1.4005 14.7075C1.58814 14.895 1.84259 15.0003 2.10786 15.0002C2.37313 15.0001 2.62749 14.8947 2.815 14.707L7.4 10.121C7.96241 9.55845 8.27836 8.79553 8.27836 8.00004C8.27836 7.20454 7.96241 6.44162 7.4 5.87904V5.87904Z"
              fill="#454545"></path> 
          </svg>
        
        </div>
        <ul class="mobile--menu-sub-dropdown">
          ${grandChildrenHTML}
        </ul>
      </li>
    `;
    } else {
      return `
      <li class="mobile--menu-navigation-sub-item">
        <a href="${child.url}" class="mobile--menu-navigation-sub-item-wrapper">
          <img src="${child.image}" alt="${child.title}" class="mobile--menu-navigation-item-image">
          <span class="mobile--menu-item-sub-title">${child.title}</span>
        </a>
      </li>
    `;
    }
  };

  // Helper to render top-level item
  const renderMenuItem = (item) => {
    if (item.children && item.children.length) {
      const childrenHTML = item.children.map(renderChild).join('');
      return `
      <li class="mobile--menu-navigation-item">
        <span class="mobile--menu-item-title">${item.title}</span>
       
        <svg class="Icon Icon--next" width="9" height="16" viewBox="0 0 9 16" fill="none">
            <path d="M7.4 5.87904L2.811 1.29304C2.62059 1.12088 2.37127 1.02853 2.11466 1.03512C1.85805 1.04171 1.61379 1.14673 1.43247 1.32844C1.25115 1.51014 1.14665 1.75462 1.14061 2.01124C1.13456 2.26787 1.22744 2.517 1.4 2.70704L5.986 7.29304C6.17347 7.48057 6.27879 7.73487 6.27879 8.00004C6.27879 8.2652 6.17347 8.51951 5.986 8.70704L1.4 13.293C1.21249 13.4807 1.10721 13.7351 1.1073 14.0004C1.10739 14.2657 1.21286 14.52 1.4005 14.7075C1.58814 14.895 1.84259 15.0003 2.10786 15.0002C2.37313 15.0001 2.62749 14.8947 2.815 14.707L7.4 10.121C7.96241 9.55845 8.27836 8.79553 8.27836 8.00004C8.27836 7.20454 7.96241 6.44162 7.4 5.87904V5.87904Z"
        fill="#454545"></path></svg>
        
        <div class="mobile--menu-navigation-item-content mobile--menu-sub-container">
          <div class="mobile--menu-header">
            <button class="mobile--menu-back">
            <svg
              class="Icon Icon--back"
              width="9"
              height="16"
              viewBox="0 0 9 16"
              fill="none">
              <g>
                <path d="M7.44802 16C7.27123 16 7.10169 15.9297 6.97669 15.8047L1.52869 10.3567C0.903786 9.7316 0.552734 8.88391 0.552734 8.00003C0.552734 7.11615 0.903786 6.26845 1.52869 5.64336L6.97669 0.19536C7.10242 0.0739218 7.27083 0.0067255 7.44562 0.00824444C7.62042 0.00976339 7.78763 0.079876 7.91124 0.203481C8.03484 0.327087 8.10495 0.494295 8.10647 0.669093C8.10799 0.843891 8.04079 1.01229 7.91936 1.13803L2.47136 6.58603C2.09641 6.96108 1.88578 7.4697 1.88578 8.00003C1.88578 8.53035 2.09641 9.03897 2.47136 9.41403L7.91936 14.862C8.01256 14.9553 8.07603 15.074 8.10175 15.2033C8.12746 15.3326 8.11426 15.4667 8.06381 15.5885C8.01336 15.7103 7.92794 15.8144 7.81833 15.8876C7.70872 15.9609 7.57986 16 7.44802 16Z" fill="black"></path>
              </g>
            </svg>
            Zurück
            </button>
            <div class="mobile--menu-item-title">${item.title}</div>
            <button class="mobile--menu-close" aria-label="Close menu">
              <svg
                class="menu--Icon menu--Icon--close"
                role="presentation"
                viewBox="0 0 16 14"
              >
                <path
                  d="M15 0L1 14m14 0L1 0"
                  stroke="currentColor"
                  fill="none"
                  fill-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          <div class="mobile--menu-sub-content">
            <ul class="mobile--menu-sub-navigation">
              ${childrenHTML}
            </ul>
          </div>
        </div>
      </li>
    `;
    } else {
      return `
      <li>
        <a class="mobile--menu-navigation-item" href="${item.url}">
          <span class="mobile--menu-item-title">${item.title}</span>
        </a>
      </li>
    `;
    }
  };

  // Render all menu items
  menuData.forEach((item) => {
    menuContainer.insertAdjacentHTML('beforeend', renderMenuItem(item));
  });
</script>


<script>
  const menuItems = [
  {% for link in linklists[section.settings.main_menu].links %}
  {
    title: {{ link.title | json }},
    url: {{ link.url | json }}

    {% if link.links.size > 0 %},
    children: [
      {% for child_link in link.links %}
      {
        title: {{ child_link.title | json }},
        url: {{ child_link.url | json }},
        image: ""
        {% if child_link.links.size > 0 %},
        children: [
          {% for grandchild_link in child_link.links %}
          {
            title: {{ grandchild_link.title | json }},
            url: {{ grandchild_link.url | json }},
            image: ""
          }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
        {% endif %}
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
    {% endif %}
  }{% unless forloop.last %},{% endunless %}
  {% endfor %}
  ];
    console.log(menuItems);
</script>
