<style>
  .count-icon {
    display: inline-block;
    position: relative;
    height: 9px;
    width: 9px;
    top: -1px;
  }

  .count-icon::after {
    width: 9px;
    height: 9px;
    background: {{ section.settings.bubble_after_color  }};
    border-radius: 9px;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    /* margin-top: 8px; */
  }
  .count-icon::before {
    animation: bubble 2s linear infinite;
    width: 9px;
    height: 9px;
    background: {{ section.settings.bubble_before_color  }};
    border-radius: 9px;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    /* margin-top: 8px; */
  }

  .count-people {
    margin-right: 4px;
    font-weight: 700;   
  }
  #viewers-count {
    
  }
  #stock-count {
    font-weight: 700;
    margin: 0 3px;    
  }
  .viewer-count {
    padding-left: 7px;
    line-height: 1.2;
  } 
  @keyframes bubble {
    0% {
      opacity: 0.5;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }

  .viewer-count {
    margin-top: {{ block.settings.viewer_margin_top }}px;
    margin-bottom: {{ block.settings.viewer_margin_bottom }}px;

  }
  .product-count {
    padding-left: 7px;   
    margin-top: {{ block.settings.product_margin_top }}px;
    margin-bottom: {{ block.settings.product_margin_bottom }}px;
  }
  .product-page .info-badge.sale-badge {
    --border-color: {{ section.settings.border_color }};
  }
  @media (max-width: 480px) {
    .viewer-count {
      margin-top: {{ block.settings.viewer_margin_top_mobile }}px;
      margin-bottom: {{ block.settings.viewer_margin_bottom_mobile }}px;

    }
    .product-count {
      margin-top: {{ block.settings.p_margin_mobile_top }}px;
      margin-bottom: {{ block.settings.p_margin_mobile_bottom }}px;
    }
    .product-price {
      margin-bottom: 0 !important;
    }
    .product-page .info-badge.sale-badge {
      border-color: var(--border-color) !important;
    }

  }
</style>

<div class="viewer-count">
  <p class="viewer-count-mobile" style="font-size:{{block.settings.viewer_count_font_size}}px; color: {{block.settings.viewer_text_color}};">
    <span class="count-icon"></span>
    <span class="count-people">
      <span id="viewers-count" style="color: {{block.settings.viewer_count_text_color}};">9
      </span>
      {{ block.settings.view_main_text_1 }}
    </span>

    {{ block.settings.view_main_text_2 }}
  </p>
</div>
{% comment %} {% if product.tags contains "STOCK" %} {% endcomment %}
 {% if block.settings.stock_count_show %}
  <div class="product-count">
    <p class="product-count-mobile" style="font-size:{{block.settings.product_count_font_size}}px; color: {{block.settings.product_text_color}};">
      <span class="count-icon"></span>
      {{ block.settings.product_main_text_1 }}

      <span id="stock-count" style="color: {{block.settings.product_count_text_color}};">
        13
      </span>

      {{ block.settings.product_main_text_2 }}
    </p>
  </div>
{% endif %}
{% comment %} {% endif %} {% endcomment %}
<script>
      document.addEventListener('DOMContentLoaded', function () {
    function updateViewersCount() {
      // Randomly generate a number of viewers between 5 and 20
      var viewersCount = Math.floor(Math.random() * (20 - 5 + 1)) + 5;
      document.getElementById('viewers-count').innerText = viewersCount + ' ';
    }
      
    // Update the count every second (1000 milliseconds)
    setInterval(updateViewersCount, {{ block.settings.viewer_count_time}});
      
    // Initialize the stock count with a random number between 5 and 20
    var stockCount = Math.floor(Math.random() * (20 - 5 + 1)) + 5;
    document.getElementById('stock-count').innerText = ' ' + stockCount + ' ';
      
    function decreaseStock() {
      if (stockCount > 3) {
        stockCount--;
      } else {
        // Reset the stock count to 20 when it reaches 3 or below
        stockCount = 20;
      }
      document.getElementById('stock-count').innerText = ' ' + stockCount + ' ';
    }
      
    // Decrease stock count every second
    setInterval(decreaseStock, {{ block.settings.stock_count_time | default: 20000 }});
      });
</script>