<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<style>
  .banner-top.{{ section.id }} {
    padding-top: {{ section.settings.pt }}px;
    padding-bottom: {{ section.settings.pb }}px;
    position: relative;
    width: 100%;
    max-width: 100%;    
  }
  .banner-top-content {
      max-width: 1310px;
      margin: 0 auto;
      padding: 8px 0;
      text-align: center;
      justify-content: center;
    }

    .banner-top-content-item {
      padding: 0 18px;
      text-align: center;
    }

    .banner-top-content-item span i {
      font-size: 14px;
      
      margin-right: 10px;
    }

    .banner-top-content-item span {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: Pragmatica, sans-serif;
    }
    .banner-top-item p {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-family: sans-serif;
   }
   .banner-top-item {
    text-align: center;
  }
</style>
<div class="banner-top {{ section.id }} m-color-{{ section.settings.color_scheme }}">
  <div class="rs-container">
    <div class="swiper apex-top-active">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="banner-top-item swiper-slide">
            <p>
              <svg
                class="icon icon-checkmark"
                width="9"
                height="8"
                viewBox="0 0 9 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M7.85766 0.48999L7.29266 1.05999C5.76017 2.59562 4.5901 3.87807 3.1677 5.33007L1.6527 4.05007L1.0427 3.53506L0.0126953 4.75506L0.622695 5.27506L2.7027 7.03506L3.2627 7.51007L3.7827 6.99007C5.5059 5.26319 6.73278 3.88383 8.4227 2.19007L8.98769 1.62007L7.85766 0.48999Z" fill="currentColor"></path>
              </svg>
              {{ block.settings.top_item }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "APEX Top Slider",
    "settings": [   
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme"
      },        
      {
        "type": "range",
        "id": "pt",
        "label": "Padding Top",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "pb",
        "label": "Padding Bottom",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "mt_mobile",
        "label": "Margin Top (Mobile)",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "mb_mobile",
        "label": "Margin Bottom (Mobile)",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      }       
      
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Top Item",
        "settings": [
          {
            "type": "text",
            "id": "top_item",
            "label": "Top Item Text",
            "default": "100% Money Back"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "APEX Top Slider"
      }
    ]
  }
  {% endschema %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const apexTopActive = new Swiper('.apex-top-active', {
    loop: true,
    autoplay: {
      delay: 5000,
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
  });
</script>
