{{ 'apex-theme.css' | asset_url | stylesheet_tag }}
<style>
  .appex-faqs-area {
    padding-top: {{- section.settings.pt -}}px;
    padding-bottom: {{- section.settings.pb -}}px;
  }
  .faqs-title{
    font-size: {{- section.settings.title_font_size -}}px ;
    color: {{- section.settings.title_color -}} ;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .faqs-sub-title{
    font-size: {{- section.settings.sub_title_font_size -}}px ;
    color: {{- section.settings.text_color -}} ;
    font-weight: 400;
  }
  .appex-faq-title{
    font-size: {{- section.settings.faq_title_font_size -}}px ;
    color: {{- section.settings.title_color -}} ;
  }
  .appex-faq-body p{
    font-size: {{- section.settings.faq_text_font_size -}}px ;
    color: {{- section.settings.text_color -}} ;
  }
  @media (max-width: 767px) {
    .appex-faqs-area {
      padding-top: {{- section.settings.pt_mobile -}}px;
      padding-bottom: {{- section.settings.pb_mobile -}}px;
    }
    .faqs-title {
      font-size: {{- section.settings.title_font_size_mobile -}}px;
    }

  }
</style>
<div class="appex-faqs-area m-color-{{ section.settings.color_scheme }} ">
  <div class="rs-container">
    <h2 class="faqs-title">{{ section.settings.title }}</h2>
    <p class="faqs-sub-title">{{ section.settings.sub_title }}</p>
    <div class="appex-faq-wrapper">
      {% for block in section.blocks %}
        <div class="appex-faq-item">
          <div class="appex-faq-header">
            <h2 class="appex-faq-title">{{ block.settings.faq_title }}</h2>
            <span class="faq-icon">
              <svg
                class="transition-transform duration-200 ease-in-out"
                width="15"
                height="9"
                viewBox="0 0 13 8"
                fill="none"
              >
                <path d="M1.4375 1.46875L6.5 6.53125L11.5625 1.46875" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </div>
          <div class="appex-faq-body">
            {{ block.settings.faq_body }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "APEX FAQs ",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Padding Top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding Bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "pt_mobile",
      "label": "Padding Top (Mobile)",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "pb_mobile",
      "label": "Padding Bottom (Mobile)",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Font Size",
      "default": 34,
      "min": 10,
      "max": 100,
      "step": 1
    },

    {
      "type": "range",
      "id": "title_font_size_mobile",
      "label": "Title Font Size (Mobile)",
      "default": 24,
      "min": 10,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "Sub Heading"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub heading",
      "default": "Common problems and simple solutions"
    },
    {
      "type": "range",
      "id": "sub_title_font_size",
      "label": "Font Size",
      "default": 14,
      "min": 10,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Heading Color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#454545"
    },
    {
      "type": "header",
      "content": "Faq Item"
    },
    {
      "type": "range",
      "id": "faq_title_font_size",
      "label": "FAQ Title Font Size",
      "default": 18,
      "min": 10,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "faq_text_font_size",
      "label": "FAQ Text Font Size",
      "default": 16,
      "min": 10,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "name": "Faq item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "faq_title",
          "label": "FAQ Title",
          "default": "How long do the strips last unopened?"
        },
        {
          "type": "richtext",
          "id": "faq_body",
          "label": "FAQ Body",
          "default": "<p>The UV gel strips remain in their packaging and ready for use for over 2 years. Once opened, the strips have a shelf life of 3 months. Store the opened strips in an airtight container and in a dark place between uses to prevent premature hardening. Use our sticker from the UV gel strips packaging.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "APEX FAQs",
      "settings": {}
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Faq Accordion
    let items = document.querySelectorAll('.appex-faq-header');
    items.forEach((button) => {
      button.addEventListener('click', (event) => {
        button.classList.toggle('active');
        const content = button.nextElementSibling;
        if (button.classList.contains('active')) {
          content.style.maxHeight = content.scrollHeight + 'px';
        } else {
          content.style.maxHeight = 0;
        }
      });
    });
  });
</script>

{% comment %} padding add  {% endcomment %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.appex-faq-body').forEach((accordion) => {
      let paragraphs = accordion.querySelectorAll('p');

      if (paragraphs.length === 1) {
        paragraphs[0].style.padding = '16px 0';
      } else {
        paragraphs.forEach((p, index) => {
          p.style.padding = index === paragraphs.length - 1 ? '0 0 16px 0' : '5px 0';
        });
      }
    });
  });
</script>
