<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<style>
  .banner-area{
    background: {{ section.settings.bg_color }};
    margin-top: {{ section.settings.mt }}px;
    margin-bottom: {{ section.settings.mb }}px;
  }
  @media (max-width: 768px) {
    .banner-area {
      margin-top: {{ section.settings.mt_mobile }}px;
      margin-bottom: {{ section.settings.mb_mobile }}px;
    }
  }
</style>
<div class="banner-area">
  <div class="swiper banner-area-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide banner-area-item">
          <div class="banner-area-content">
            {% if block.settings.image != blank %}
              <div class="banner-content-img">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="banner-image">
              </div>
            {% endif %}
            <div class="banner-content">
              {% if block.settings.tag != blank %}
                <span class="banner-tag">{{ block.settings.tag }}</span>
              {% endif %}
              {% if block.settings.sub_title != blank %}
                <span class="banner-sub-title">{{ block.settings.sub_title }}</span>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2 class="banner-title">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="banner-text">{{ block.settings.text }}</p>
              {% endif %}
              {% if block.settings.banner_btn_text != blank %}
                <a href="{{ block.settings.banner_link }}" class="banner-button">
                  {{- block.settings.banner_btn_text -}}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="banner-next">
      <svg class="" width="20" height="18" viewBox="0 0 18 16" fill="none">
        <path d="M8.4375 14.75L1.6875 8L8.4375 1.25M2.625 8H16.3125" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </div>
    <div class="banner-prev">
      <svg class="" width="20" height="18" viewBox="0 0 18 16" fill="none">
        <path d="M8.4375 14.75L1.6875 8L8.4375 1.25M2.625 8H16.3125" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Banner version 1",

  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Margin top (desktop)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Margin bottom (desktop)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "mt_mobile",
      "label": "Margin top (mobile)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "mb_mobile",
      "label": "Margin bottom (mobile)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Tag"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "banner_btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner version 1",
      "settings": {}
    }
  ]
}
{% endschema %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.banner-area-slider', {
      loop: true,
      navigation: {
        nextEl: '.banner-next',
        prevEl: '.banner-prev',
      },
    });
  });
</script>
