<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<style>
  .banner-area {   
    margin-top: {{ section.settings.mt }}px;
    margin-bottom: {{ section.settings.mb }}px;
  }
  .banner-area-content {
    display: flex;
    align-items: center;
  }

  .banner-content-img {
    height: auto;
    max-height: 700px;
    width: 50%;
  }
  .banner-content-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .banner-content {
    width: 50%;
    padding-left: 6%;
    padding-right: 5%;
  }
  .banner-tag {
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 30px;
    display: inline-block;
    line-height: 1;
    padding: 9px 15px;
    margin: 0 0 5px;
  }
  .banner-title {
    font-size: 52px;    
    margin: 0 0 10px;
  }
  /* .banner-button {   
    font-size: 16px;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    line-height: 1;
    margin: 0;
  }
   */
  .banner-text {
    margin: 0 0 25px;
    font-size: {{ section.settings.des_size }}px;
   
  }
  .banner-next,
  .banner-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background: {{ section.settings.arrow_bg }};
    z-index: 999;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .banner-prev {
    left: 50px;
  }
  .banner-next {
    right: 50px;

  }
  .banner-next svg {
    transform: rotate(180deg);
  }
  .banner-area .swiper-pagination {
    bottom: 360px !important;
  }
  .banner-area .swiper-pagination-bullet{
   background: none;
  }
  .banner-area .swiper-pagination-bullet-active::before{
    opacity: 1;
  }
  @media (max-width: 1400px) {
    .banner-content-img {
      width: 50%;
    }
    .banner-content {
      width: 50%;
    }
    .banner-title {
      font-size: 44px;
    }
  }
  @media (max-width: 1000px) {
    .banner-area-content {
      flex-direction: column;
      gap: 40px;
    }
    .banner-content-img {
      width: 100%;
    }
    .banner-content {
      width: 100%;
      padding: 0 20px 40px;
    }
    .banner-content-img img {

      max-height: 700px;
    }
    .banner-next,
    .banner-prev {
      top: 40%;
    }
  }
  @media (max-width: 768px) {
    .banner-area {
      margin-top: {{ section.settings.mt_mobile }}px;
      margin-bottom: {{ section.settings.mb_mobile }}px;
    }
    .banner-title {
      font-size: 28px;
    }
    .banner-tag {
      margin-bottom: 15px;
    }
    .banner-next {
      right: 15px;
    }
    .banner-prev {
      left: 15px;
    }
    .dide_m{
      display: none;
    }
  }
</style>
<div class="banner-area m-color-{{ section.settings.color_scheme }}">
  <div class="swiper banner-area-slider">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide banner-area-item">
          <div class="banner-area-content">
            {% if block.settings.image != blank %}
              <div class="banner-content-img">
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="banner-image">                
              </div>
            {% endif %}
            <div class="banner-content">
              {% if block.settings.tag != blank %}
                <span class="banner-tag">{{ block.settings.tag }}</span>
              {% endif %}
              {% if block.settings.sub_title != blank %}
                <span class="banner-sub-title">{{ block.settings.sub_title }}</span>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2 class="banner-title">{{ block.settings.title }}</h2>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="banner-text">{{ block.settings.text }}</p>
              {% endif %}
              {% if block.settings.banner_btn_text != blank %}
                <a href="{{ block.settings.banner_link }}" class="mrk-btn banner-button">
                  {{- block.settings.banner_btn_text -}}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
    <div class="banner-next {% if section.settings.hide_arrow_m %}dide_m{% endif %}">
      <svg
        class=""
        width="20"
        height="18"
        viewBox="0 0 18 16"
        fill="none">
        <path
          d="M8.4375 14.75L1.6875 8L8.4375 1.25M2.625 8H16.3125"
          stroke="#121212"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
    <div class="banner-prev {% if section.settings.hide_arrow_m %}dide_m{% endif %}">
      <svg
        class=""
        width="20"
        height="18"
        viewBox="0 0 18 16"
        fill="none">
        <path
          d="M8.4375 14.75L1.6875 8L8.4375 1.25M2.625 8H16.3125"
          stroke="#121212"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "APEX Banner Version 1",

    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme"
      },     
      {
        "type": "range",
        "id": "mt",
        "label": "Margin top (desktop)",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "mb",
        "label": "Margin bottom (desktop)",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "mt_mobile",
        "label": "Margin top (mobile)",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "range",
        "id": "mb_mobile",
        "label": "Margin bottom (mobile)",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "header",
        "content": "Heading"
      }, {
        "type": "range",
        "id": "heading_size",
        "label": "Heading Size",
        "default": 52,
        "min": 10,
        "max": 100,
        "step": 1
      }, 
      {
        "type": "header",
        "content": "Description"
      },
      {
        "type": "range",
        "id": "des_size",
        "label": "Description Size",
        "default": 18,
        "min": 10,
        "max": 30,
        "step": 1
      },        
      {
        "type": "header",
        "content": "Arrow Button"
      }, 
      {
        "type": "color",
        "id": "arrow_bg",
        "label": "Arrow Button Background",
        "default": "#fff"
      },      
      {
        "type": "checkbox",
        "id": "hide_arrow_m",
        "label": "Hide arrow on Mobile",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, 
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }, 
          {
            "type": "text",
            "id": "banner_btn_text",
            "label": "Button Text"
          }, 
          {
            "type": "url",
            "id": "banner_link",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "APEX Banner Version 1",
        "settings": {}
      }
    ]
  }
{% endschema %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.banner-area-slider', {
      loop: true,
      navigation: {
        nextEl: '.banner-next',
        prevEl: '.banner-prev',
      },
      // pagination: {
      //   el: ".swiper-pagination",
      //   clickable: true,
      // },
    });
  });
</script>