<style>
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }



  /* common css end  */
  .branded-img-area{
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
  .branded-img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .branded-left-item {
    /* background: url(../img/branded-image-1.jpg); */
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .branded-left-item .banner-fluid__media-mask {
    position: absolute;
    right: -2px;
  }

  .branded-right-item {
    position: relative;   
    padding: 50px 0;
  }

  .branded-title {
    font-size: {{ section.settings.title_font_size }}px;    
    font-weight: 400;
    text-transform: capitalize;
    /* line-height: 1; */
  }




  .branded-text p {
    font-size: {{ section.settings.text_font_size }}px;  
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .branded-text {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 10px;
  }

  .branded-left-item .banner-fluid__media-mask-mobile {
    display: none;
  }
  @media only screen and (max-width: 1000px) {
    h3.branded-title {
    font-size: 40px;
  }
 }
  @media only screen and (max-width: 749px) {
    .branded-img-content {
      display: flex;
      flex-direction: column-reverse;
    }
    .branded-left-item {
    background-position: top;
    max-height: 450px;
    }
    .branded-text {
      position: static;
      transform: translate(0);
      margin-bottom: 20px;
    }

   

    .branded-left-item .banner-fluid__media-mask-mobile {
      display: block;
      position: absolute;
      width: 100%;
    }

    .banner-fluid__media-mask {
      display: none;
    }
    .branded-img-area {
      margin-top: {{ section.settings.mobile_margin_top }}px;
      margin-bottom: {{ section.settings.mobile_margin_bottom }}px;
    }
    .branded-title {
      font-size: 34px;
      font-weight: 700;
  }
  }
</style>
<div class="branded-img-area m-color-{{ section.settings.color_scheme }}">
  <div class="branded-img-content">
    <div
      class="branded-left-item"
      {% if section.settings.bg_img != blank %}
        style=" background-image: url('{{ section.settings.bg_img |  img_url: 'master' }}');"
      {% endif %}
    >
      <svg
        class="banner-fluid__media-mask"
        preserveAspectRatio="none"
        width="231"
        height="600"
        viewBox="0 0 231 600"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0 0.000479755C13.3628 0.000480339 26.1762 5.36657 35.6342 14.8997L180.31 160.846C189.748 170.379 195.066 183.313 195.066 196.797V403.204C195.066 416.689 189.768 429.622 180.31 439.155L35.6146 585.101C26.2035 594.607 13.4174 599.969 0.096379 600L230.566 600V0L0 0.000479755Z"
            fill="{{ section.settings.shape_color }}"></path>
      </svg>
      <svg
        class="banner-fluid__media-mask-mobile"
        preserveAspectRatio="none"
        width="375"
        height="129"
        viewBox="0 0 375 129"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M375 0H0V128.274C0 119.898 3.35381 111.866 9.31204 105.937L100.528 15.2496C106.486 9.33329 114.57 6 122.998 6H252.002C260.43 6 268.514 9.32099 274.472 15.2496L365.688 105.95C371.646 111.866 375 119.91 375 128.286V0Z"
            fill="{{ section.settings.shape_color }}"></path>
      </svg>
    </div>
    <div
      class="branded-right-item"
    >
      <div class="branded-text">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when 'title' -%}
              <h3 class="branded-title">{{ block.settings.title }}</h3>
            {%- when 'sub_title' -%}
              <p>{{ block.settings.text }}</p>

            {%- when 'btn' -%}
              <div class="branded-btn branded-btn-{{ section.id }}">
                <a class="m-button {{ section.settings.button_style }} {{ section.settings.button_size }}" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
              </div>
            {%- else -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "APEX Branded Image Ver 1",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "color",
      "id": "shape_color",
      "label": "Shape Color",
      "default": "#deceba"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin Top",
      "default": 20,
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "default": 20,
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "range",
      "id": "mobile_margin_top",
      "label": "Mobile Margin Top",
      "default": 10,
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "label": "Mobile Margin Bottom",
      "default": 10,
      "min": 0,
      "max": 50,
      "unit": "px",
      "step": 1
    },
    {
      "type": "header",
      "content": "Section Image"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Title Font Size",
      "default": 40,
      "min": 12,
      "max": 100,
      "unit": "px",
      "step": 1
    },    
    {
      "type": "range",
      "id": "text_font_size",
      "label": "Text Font Size",
      "default": 16,
      "min": 12,
      "max": 50,
      "unit": "px",
      "step": 1
    },  
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "m-button--primary",
          "label": "Primary button"
        },
        {
          "value": "m-button--secondary",
          "label": "Secondary button"
        },
        {
          "value": "m-button--white",
          "label": "White button"
        },
        {
          "value": "m-button--link",
          "label": "Underline button"
        }
      ],
      "default": "m-button--primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button size",
      "options": [
        {
          "value": "m-button--small",
          "label": "Button small"
        },
        {
          "value": "",
          "label": "Button medium"
        },
        {
          "value": "m-button--large",
          "label": "Button large"
        }
      ],
      "default": ""
    }        
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "eye perfecting<br>shimer stick"
        }
      ]
    },
    {
      "name": "Sub Title",
      "type": "sub_title",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Sub Title",
          "default": "Instantly brightens tired eyes and gives them a subtle glow"
        }
      ]
    },
    {
      "name": "Button",
      "type": "btn",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "shop now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "APEX Branded Image Ver 1",
      "settings": {}
    }
  ]
}
{% endschema %}
