<style>
.coupon--wrapper {
  padding: 100px 0;
}
.coupon-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 0 20px;
}
.coupon--title {
  font-size: 80px;
  line-height: 1.2;
}
.coupon--subtitle {
  font-size: 50px;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 15px;
}
.coupon--code {
  border: 1px solid #000;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 24px;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}
</style>

<div class="coupon--wrapper m-color-{{ section.settings.color_scheme }}">
  <div class="coupon-container">
    <div class="coupon--box">
      {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
          <h2 class="coupon--title">{{ block.settings.title }}</h2>
        {% when 'subtitle' %}
          <p class="coupon--subtitle">{{ block.settings.subtitle }}</p>    
        {% when 'coupon_code' %}
          <p class="coupon--code">{{ block.settings.coupon_text }}</p>
        {% when 'coupon_info' %}
          <p class="coupon--short-text">{{ block.settings.coupon_info }}</p>
        {% when 'coupon_button' %}
          <a href="{{ block.settings.btn_url }}" class="coupon--btn">{{ block.settings.btn_text }}</a>
        {% else %}
      {% endcase %}
    {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Coupon Code Section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default":"25% OFF"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "Subtitle",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "new year offer"
        }
      ]
    },
    {
      "type": "coupon_code",
      "name": "Coupon Code",
      "settings": [
        {
          "type": "text",
          "id": "coupon_text",
          "label": "Coupon Code",
          "default":"nye25"
        }
      ]
    },
    {
      "type": "coupon_info",
      "name": "Coupon Info",
      "settings": [
        {
          "type": "text",
          "id": "coupon_info",
          "label": "Coupon Info",
          "default":"to take 25% off any of our in-stock and ready-to-ship pieces"
        }
      ]
    },
    {
      "type": "coupon_button",
      "name": "Coupon Button",
      "settings": [
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  
  "presets": [
    {
      "name": "Coupon Code Section",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "subtitle"
        },
        {
          "type": "coupon_code"
        },
        {
          "type": "coupon_info"
        },
        {
          "type": "coupon_button"
        }
      ]
    }
  ]
}
{% endschema %}