{{ 'apex-collection.css' | asset_url | stylesheet_tag }}




<div class="product-area">
  <div class="container">
    <h1 class="collection-hero__title">Lips & Cheeks</h1>
    <div class="product-wrapper">
    {% for product in collection.products %}
    
      <div class="single-product-item">
        <div class="product-thumb">
          <a href="{{ product.url }}">
            <picture>

              <img src="{{ product.featured_image |  img_url: 'master' }}" alt="{{ product.title }}">
            </picture>
            <span>
              ALL PRODUCTS 
                <svg class="icon icon-small-arrow-right" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.9401 7.60002L7.6001 4.00002C6.68197 3.0994 4.85818 1.30066 3.9401 0.400024L3.47823 0.846904C4.30386 1.6569 5.39631 2.7357 6.36015 3.68194L0.400145 3.68194L0.400145 4.31758L6.36015 4.31758L3.47822 7.14814L3.9401 7.60002Z" fill="#1E1E1E"></path>
                </svg>
            </span>
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>


    {{ 'main.js' | asset_url | script_tag }}
    {% schema %}
      {
        "name": "lips-products",
        "class": "lips-products",
        "settings": [
          
        ],
        "presets": [
          {
            "name": "lips-products",
          }
        ]
      }
    {% endschema %}