<link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{{ 'apex-collection.css' | asset_url | stylesheet_tag }}

<div class="card_area">
  <div class="container">
    <div class="product_shorting">
        <label for="select">Sort by:</label>
        <select id="select" class="form-control checkout-textbox">
            <option value="fe">Featured</option>
            <option value="fe">Best selling</option>

            <option value="fe">Alphabetically, A-Z</option>
            <option value="fe">Alphabetically, Z-A</option>
            <option value="fe">Price, low to high</option>
            <option value="fe">Price, high to low</option>
            <option value="fe">Date, old to new</option>
            <option value="fe"> Date, new to old</option>
            <option value="fe">Best selling</option>
        </select>
    </div>
   

    <div class="another-lips_cart">
        <h2 class="another-lips_car-title">Recently viewed</h2>
        <div class="lips-card-wrapper2">
            <div class="swiper cart-slider-active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="lips-single-cart">
                            <div class="lips-card-inner">
                                <img class="hover_thumb1" src="{{ 'lips.webp' | asset_url }}" alt="">
                                <img class="hover_thumb2" src="{{ 'mekup.webp' | asset_url }}" alt="">
                                <div class="lips-badge">
                                    <span><i></i>4 shade</span>
                                </div>
                            </div>
                            <div class="lips-card-content">
                                <a href="#">Signature Lip Pencil</a>
                                <a href="#">Tk 2,700.00 BDT <del>TK 7,900.00 BDT</del> <cite>save 15%</cite></a>
                            </div>
                            <div class="card-add-button">
                                <a href="#">ADD TO BAG</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="lips-single-cart">
                            <div class="lips-card-inner">
                                <img class="hover_thumb1" src="{{ 'lips2.webp' | asset_url }}" alt="">
                                <img class="hover_thumb2" src="{{ 'mekup4.webp' | asset_url }}" alt="">
                                <div class="lips-badge">
                                    <span><i></i>4 shade</span>
                                </div>
                            </div>
                            <div class="lips-card-content">
                                <a href="#">Signature Lip Pencil</a>
                                <a href="#">Tk 2,700.00 BDT <del>TK 7,900.00 BDT</del> <cite>save 15%</cite></a>
                            </div>
                            <div class="card-add-button">
                                <a href="#">ADD TO BAG</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="lips-single-cart">
                            <div class="lips-card-inner">
                                <img class="hover_thumb1" src="{{ 'lips7.webp' | asset_url }}" alt="">
                                <img class="hover_thumb2" src="{{ 'women.webp' | asset_url }}" alt="">
                                <div class="lips-badge">
                                    <span><i></i>4 shade</span>
                                </div>
                            </div>
                            <div class="lips-card-content">
                                <a href="#">Signature Lip Pencil</a>
                                <a href="#">Tk 2,700.00 BDT <del>TK 7,900.00 BDT</del> <cite>save 15%</cite></a>
                            </div>
                            <div class="card-add-button">
                                <a href="#">ADD TO BAG</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="lips-single-cart">
                            <div class="lips-card-inner">
                                <img class="hover_thumb1" src="{{ 'lips.webp' | asset_url }}" alt="">
                                <img class="hover_thumb2" src="{{ 'mekup.webp' | asset_url }}" alt="">
                                <div class="lips-badge">
                                    <span><i></i>4 shade</span>
                                </div>
                            </div>
                            <div class="lips-card-content">
                                <a href="#">Signature Lip Pencil</a>
                                <a href="#">Tk 2,700.00 BDT <del>TK 7,900.00 BDT</del> <cite>save 15%</cite></a>
                            </div>
                            <div class="card-add-button">
                                <a href="#">ADD TO BAG</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="lips-single-cart">
                            <div class="lips-card-inner">
                                <img class="hover_thumb1" src="{{ 'lips2.webp' | asset_url }}" alt="">
                                <img class="hover_thumb2" src="{{ 'mekup4.webp' | asset_url }}" alt="">
                                <div class="lips-badge">
                                    <span><i></i>4 shade</span>
                                </div>
                            </div>
                            <div class="lips-card-content">
                                <a href="#">Signature Lip Pencil</a>
                                <a href="#">Tk 2,700.00 BDT <del>TK 7,900.00 BDT</del> <cite>save 15%</cite></a>
                            </div>
                            <div class="card-add-button">
                                <a href="#">ADD TO BAG</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="lips-single-cart">
                            <div class="lips-card-inner">
                                <img class="hover_thumb1" src="{{ 'lips7.webp' | asset_url }}" alt="">
                                <img class="hover_thumb2" src="{{ 'women.webp' | asset_url }}" alt="">
                                <div class="lips-badge">
                                    <span><i></i>4 shade</span>
                                </div>
                            </div>
                            <div class="lips-card-content">
                                <a href="#">Signature Lip Pencil</a>
                                <a href="#">Tk 2,700.00 BDT <del>TK 7,900.00 BDT</del> <cite>save 15%</cite></a>
                            </div>
                            <div class="card-add-button">
                                <a href="#">ADD TO BAG</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lips_btn">
                <span class="btn-next cmn-btn">
                    <svg class="icon icon-arrow-next" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.93333 8L8 4C6.97986 2.99931 4.95342 1.00071 3.93333 -1.7776e-07L3.42014 0.496533C4.33751 1.39653 5.55134 2.5952 6.62228 3.64658L5.22927e-05 3.64658L5.22618e-05 4.35283L6.62228 4.35283L3.42014 7.4979L3.93333 8Z" fill="currentColor"></path>
                    </svg>
                </span>
                <span class="btn-prev cmn-btn">
                    <svg class="icon icon-arrow-prew" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.06667 -9.0518e-07L4.76995e-08 4C1.02014 5.00069 3.04658 6.99929 4.06667 8L4.57986 7.50347C3.66249 6.60347 2.44866 5.4048 1.37772 4.35342L7.99995 4.35342L7.99995 3.64716L1.37772 3.64716L4.57986 0.502097L4.06667 -9.0518e-07Z" fill="currentColor"></path>
                    </svg>
                </span>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {{ 'main.js' | asset_url | script_tag }}

    {% schema %}
      {
        "name": "lips-card",
        "class": "lips-card",
        "settings": [
          
        ],
        "presets": [
          {
            "name": "lips-card",
          }
        ]
      }
    {% endschema %}