<style>


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.subscription-section {
    position: relative;
    overflow: hidden;
}

.subscription-bg img {
    width: 100%;
    min-height: 330px;
}

.subscription-content {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.subscription-title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.subscription-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding: 25px 0;
}

.subscription-input-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.input-group__fields {
    width: 265px;
}

.input-group__fields input {
    width: 100%;
    display: block;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 999px;
    background-color: transparent;
    height: 50px;
    padding-left: 12px;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.input-group__fields input:focus {
    outline: 0;
    box-shadow: none;
}

.input-group__fields input::placeholder {
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}


.input-group__btn {
    background: #2676d5;
    color: #fff;
    border-color: #2676d5;
    width: 260px;
    height: 50px;
    outline: 0;
    border-radius: 999px;
    box-shadow: none;
    border-style: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.25em;
    letter-spacing: 0px;
}

@media (max-width: 767px) {
    .subscription-content {
        left: 10%;
        right: 20px;
    }

    .subscription-input-group {
        flex-wrap: wrap;
        gap: 16px;
    }

    .subscription-title {
        font-size: 30px;
        line-height: 42px;
    }

    .subscription-text {
        padding: 15px 0;
    }

}

</style>


<section class="subscription-section">
<div class="subscription-bg">{% if section.settings.bg_img != blank %}<img src="{{ section.settings.bg_img |  image_url }}" alt="bg">{% endif %}</div>
  <div class="subscription-container">
      <div class="subscription-content">
          <h3 class="subscription-title">{{ section.settings.title }}</h3>
          <p class="subscription-text">{{ section.settings.newsletter_text }}</p>


          {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">

            <div class="subscription-input-group">
                <div class="input-group__fields">
                    <input 
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"                  
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ section.settings.place_holder_text }}"
                    required
                    class="input-group__field"                         
                        
                      >
                </div>
                <div class="input-group__btn-wrapper">
                    <button
                    type="submit"                  
                    name="commit"
                    id="Subscribe"                                        
                    class="input-group__btn">{{ section.settings.btn_text }}</button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{ section.settings.success_text | default: 'Thank you for subscribing!' }}
                  </h3>
                {%- endif -%}
                
            </div>
          {% endform %}
      </div>
  </div>
</section>


{% schema %}
{
  "name": "Reward Page Newsletter",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Subscribe to our Newsletter"
    },
    {
      "type": "textarea",
      "id": "newsletter_text",
      "label": "Newsletter Text",
      "default": "Stay updated with our latest news and offers."
    },
    {
      "type": "text",
      "id": "place_holder_text",
      "label": "Input Placeholder",
      "default": "Enter your email"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Subscribe"
    },
    {
      "type": "text",
      "id": "success_text",
      "label": "Success Message",
      "default": "Thank you for subscribing!"
    }
  ],
  "presets": [
    {
      "name": "Reward Page Newsletter"
    }
  ]
}
{% endschema %}