{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<style>
  
  /* common css end   */
  .store-benefits-area {
    padding-top: {{ section.settings.pt }}px;
    padding-bottom: {{ section.settings.pb }}px;
  }


  .store-benifits-item {
    text-align: center;
  }

  .store-benefits-icon {
    width: 35px;
    height: 35px;
    margin: 0 auto;
  }

  .store-benefits-text h4 {  
    font-size: {{ section.settings.title_size }}px;
    margin: 24px 0 12px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .store-benefits-text p {   
    font-size: {{ section.settings.text_size }}px;
    text-transform: uppercase;
    margin: 15px 0;
  }

  .swiper-pagination,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #1e1e1e;
  }
  .store-benefits-content {
    padding: 0 15px;
    position: relative;
  }
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,8px);
    top: var(--swiper-pagination-top,auto);
    left: 0;
    width: 100%;
    bottom: -30px;
  }
  .store-benifits-item {
    text-align: center;
    max-width: 300px;
  }
  .store-benefits .swiper-slide {
    display: flex;
    justify-content: center;
  }
  span.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
  {% if section.settings.invert_color %}
  .store-benefits-icon img {
    filter: invert(1);
  }
  {% endif %}
  .store-benefits-area .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    margin-bottom: -15px;
    position: static !important;
}
  @media only screen and (max-width: 768px) {
    .swiper-pagination,
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
    .store-benefits-area {
      padding-top: {{ section.settings.ptm }}px;
      padding-bottom: {{ section.settings.pbm }}px;
    }
    .store-benifits-item {
     /* max-width: 100%; */
     width: 100%;
     max-width: 400px;
   }
   .store-benefits .swiper-wrapper {
    justify-content: unset;
   }
  }
</style>
<div class="store-benefits-area m-color-{{ section.settings.color_scheme }}">
  <div class="store-benefits-content ">
    <div class="swiper store-benefits">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="store-benifits-item">
              {% if block.settings.benefit_icon %}
                <div class="store-benefits-icon">
                  <img src="{{ block.settings.benefit_icon |  img_url: 'master' }}" alt="icon">
                </div>
              {% endif %}
              <div class="store-benefits-text">
                <h4>{{ block.settings.title }}</h4>
                <p>
                  {{ block.settings.text }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-pagination store-benefits-pagi"></div>
  </div>
</div>
{% schema %}
{
  "name": "Apex Store Benefits",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },  
    {
      "type": "checkbox",
      "id": "invert_color",
      "label": "Image Color Invert",
      "default": true,
      "info": "(It Will be White Color)"
    }, 
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "title_size",
      "label": "Title Size",
      "default": 16,
      "min": 10,
      "max": 30,
      "step": 1
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text Size",
      "default": 14,
      "min": 10,
      "max": 30,
      "step": 1
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Padding Top",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding Bottom",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "ptm",
      "label": "Padding Top (Mobile)",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "pbm",
      "label": "Padding Bottom (Mobile)",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "number",
      "id": "autoplay_delay",
      "label": "Autoplay Delay (ms)",
      "default": 3000
    },
    {
      "type": "number",
      "id": "speed",
      "label": "Transition Speed (ms)",
      "default": 500
    },
    {
      "type": "range",
      "id": "items_mobile_sm",
      "label": "Items (Small Mobile)",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1
    },
    {
      "type": "range",
      "id": "items_mobile",
      "label": "Items (Mobile)",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1
    },
    {
      "type": "range",
      "id": "items_tablet",
      "label": "Items (Tablet)",
      "default": 2,
      "min": 1,
      "max": 4,
      "step": 1
    },
    {
      "type": "range",
      "id": "items_desktop",
      "label": "Items (Desktop)",
      "default": 3,
      "min": 1,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "sbt_m",
      "label": "Space Between (Mobile)",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 1
    },
    {
      "type": "range",
      "id": "sbt_t",
      "label": "Space Between (Tablet)",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "sbt_des",
      "label": "Space Between (Desktop)",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "benefit",
      "name": "Store Benefits",
      "settings": [
        {
          "type": "image_picker",
          "id": "benefit_icon",
          "label": "Benefit Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "100% Money Back"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "We offer a 100% match guarantee on all cosmetics products so you can test it without any risk. If you are not satisfied, you will receive a 100% refund without any hassle!"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Apex Store Benefits"
    }
  ]
}
{% endschema %}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script>
  const swiper_store = new Swiper('.store-benefits', {
    loop: true,
    autoplay: {
      delay: {{ section.settings.autoplay_delay }},
      disableOnInteraction: false,
    },
    speed:{{ section.settings.speed }},
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      0: {
        slidesPerView: {{ section.settings.items_mobile_sm }},
      },
      550: {
        slidesPerView: {{ section.settings.items_mobile }},
        spaceBetween: {{ section.settings.sbt_m}},
      },
      768: {
        slidesPerView: {{ section.settings.items_tablet }},
        spaceBetween: {{ section.settings.sbt_t }},
      },
      1000: {
        slidesPerView: {{ section.settings.items_desktop }},
        spaceBetween: {{ section.settings.sbt_des }},

      },
    },
  });
</script>
